[submodule "MQTTSchemas"]
	path = MQTTSchemas
	url = https://github.com/tristan-schwoerer/mqtt_message_schemas.git
[submodule "submodel-templates"]
	path = submodel-templates
	url = https://github.com/tristan-schwoerer/submodel-templates.git
